$tablet-bp: 541px;
$desktop-bp: 769px;

@mixin tablet() {
	@media screen and (min-width: $tablet-bp) {
		@content;
	}
}

@mixin desktop() {
	@media screen and (min-width: $desktop-bp) {
		@content;
	}
}

@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

.animate-enter {
	@include transition(2s linear all);
	display: block;
	position: relative;
	outline: 1px solid red;
}

.animate-enter.animate-enter-active {
	opacity: 1;
}

.animate-leave.animate-leave-active {
	opacity: 0;
}